body {
  font-family: gabriola;
  background-color: #c4faf8;
}

h1 {
  color: #64b3f4;
}

h2 {
  color: rgb(15, 218, 133);
}

h3 {
  color: #64b3f4;
}

h4 {
  text-transform: capitalize;
  color: #64b3f4;
  font-size: 16px;
}

h5 {
  text-transform: capitalize;
  color: #64b3f4;
  font-size: 16px;
}

h6 {
  color: rgb(15, 218, 133);
}

#weatherAppB {
  border: 3px solid;
  border-color: #fffeff #d7fffe #d7fffe #fffeff;
  border-radius: 20px;
  padding: 30px;
  margin: 20px auto;
  max-width: 600px;
  background: linear-gradient(to bottom right, #fffeff 0%, #d7fffe 100%);
}

.card-body .active {
  color: rgb(15, 218, 133);
  cursor: default;
  text-decoration: none;
}

.card-body .active:hover {
  text-decoration: none;
}

.searchBtn {
  background-color: white;
  border-radius: 8px;
  border: 2px solid #64b3f4;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  color: #64b3f4;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

form {
  text-align: center;
}

input[type="text"] {
  border-radius: 8px;
  border: 2px solid rgb(15, 218, 133);
}

::placeholder {
  color: rgb(15, 218, 133);
}

input,
select,
textarea {
  color: #64b3f4;
}
